* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
}

  body {
	background-color: #e8e4f0;
	color: white;
}

textarea, select, input[type="file"], input[type="text"], input[type="password"], input[type="email"] {
	width: 100%;
	padding: 0.75rem;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1rem;
	background-color: #f8f8f8;
  }


  table {
    border-collapse: separate;
    border-spacing: 25px;
    width: 80%;
    margin: 2rem auto;
    background-color: #FFF;
    border-radius: 8px;
    overflow: hidden;
}

th {
    background-color: #FFF;
    color: #2b2d2f;
    font-weight: bold;
    text-transform: uppercase;
    padding: 25px 16px;
    text-align: center;
}

td {
    padding: 12px 16px;
    text-align: center;
    color: #2b2d2f;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
}

td.edit, 
td.role,
th.edit,
th.role {
    text-align: center;
}
/* tr:nth-child(even) td {
    background-color: #f9f9f9;
} */

@media (max-width: 768px) {
    table {
        width: 100%; 
    }

    td, th {
        font-size: 0.9rem;
    }
}

.material-icons {
    color: #161616e8;
}

a:visited {
    color: white;
}

a.icons:visited {
	color: #000000;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}


div.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 2rem;
	width: 100%;
}


form{
	display: block;
	width: 100%;
	max-width: 414px;
	margin: 0 auto;
	background-color: #FFF;
	color: #2b2d2f;
	border-radius: 1rem;
	padding: 1.5rem;
}

h3, h1 {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
    color: black;
}

label {
	display: block;
	margin-bottom: 1rem;
}

label span {
	display: block;
	color: #aaa;
	font-size: 0.875rem;
	margin-bottom: 0.5rem;
	transition: 0.3s ease-out;
}

label:focus-within span {
	color: #2b2d2f;
}

input[type="text"],
button {
	appearance: none;
	outline: none;
	border: none;
	background: none;
}

input[type="text"],
button[type="submit"],
select {
	display: block;
	width: 100%;
	padding: 0.5rem 1rem;
	border: 1px solid #bbb;
	border-radius: 0.5rem;
	transition: border-color 0.3s ease-out;
}

input[type="text"]:focus {
	border-color: #2b2d2f;
}

.button {
	display: block;
	width: fit-content;
	margin-left: auto;
	margin-top: 1.5rem;
	cursor: pointer;
	background-color: #a984b2;
	color: #FFF;
	border-radius: 0.5rem;
	padding: 1rem 1.5rem;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 700;
	transition: background-color 0.3s ease-out;
	align-items: center;
}

.button:hover {
	background-color: #8e6f8c;
}